<launch>
  <arg name="world" default="empty"/>
  <arg name="x_pos" default="-2.0"/>
  <arg name="y_pos" default="1.0"/>
  <arg name="z_pos" default="0.0"/>

  <!-- set robot description parameter -->
  <param name="robot_description" command="$(find xacro)/xacro $(find urr_bot_description)/urdf/urr_bot.xacro"/>
  
  <!-- launcg gazebo world -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
  <arg name="world_name" value="$(find urr_bot_simulation)/worlds/$(arg world).world"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>

  <!-- spawn robot in gazebo -->
  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -model urr_bot -x $(arg x_pos) -y $(arg y_pos) -z $(arg z_pos)"/>
  
  <!-- joint state publisher -->
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"/>
  <!-- robot state publisher -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
</launch>
