<?xml version="1.0"?>
<launch>
    <arg name="localPlanner" default="teb"/>
    <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
        <param name="base_local_planner" value="dwa_local_planner/DWAPlannerROS"  if="$(eval arg('localPlanner') == 'dwa')"/>
        <param name="base_local_planner" value="teb_local_planner/TebLocalPlannerROS"  if="$(eval arg('localPlanner') == 'teb')"/>
        <rosparam file="$(find urr_bot_navigation)/config/costmap_common_params.yaml" command="load" ns="global_costmap" />
        <rosparam file="$(find urr_bot_navigation)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
        <rosparam file="$(find urr_bot_navigation)/config/local_costmap_params.yaml" command="load" />
        <rosparam file="$(find urr_bot_navigation)/config/global_costmap_params.yaml" command="load" />
        <rosparam file="$(find urr_bot_navigation)/config/base_global_planner_params.yaml" command="load" />
        <rosparam file="$(find urr_bot_navigation)/config/base_local_planner_params.yaml" command="load" />
        <rosparam file="$(find urr_bot_navigation)/config/move_base_params.yaml" command="load" />
    </node>

</launch>